<h1><%= @welcome_msg %></h1>
<p><% @tasks.each do |t| %></p>
  <h2><%= link_to( t.name,  show_path(t[:id])) %></h2>
  <%= button_to "Delete Task", {action: "destroy", id: t[:id] }, method: :delete, data: { confirm: "Do you really not need to do this anymore?"} %>
<% end %>


<h5><%= link_to( "Add a new task", new_path) %></h5>
